---
title: Facilities
---

%h1= current_page.data.title
%p The Cellular Biomechanics Laboratory at Drexel University occupies approximately 2,000 square feet of laboratory space in a newly renovated 10,000 square foot laboratory on the fourth floor of the LeBow Engineering Building. This space houses a complete tissue culture facility and microscopy laboratory. The tissue culture facility includes a laminar flow hoods, incubators, centrifuge, refrigerator, freezer, autoclave, and other small equipment items required for standard tissue culture activities. A separate room, dedicated to fluorescence microscopy applications, houses the custom experimental equipment explained below. Additional lab suites contiguous with the tissue culture lab house an MTS 858 Bionix (MTS Systems Corporation, Minneapolis, MN) materials testing machine and a Bioscope Atomic Force Microscope (Veeco, Santa Barbara, CA).