---
title: Research Overview
---

%h1= current_page.data.title

%h5 Mechanisms of cell injury and repair
%p Dr. Barbee's work in neural injury focuses on the acute effects of mechanical trauma on cell structure and the biological consequences of membrane damage. He has developed in vitro models that allow precise control of the mechanical loading applied to cultured neurons and quantification of the structural damage and the functional response. He is investigating the potential therapeutic effects of directly repairing damaged membrane using the nonionic surfactant polymer, poloxamer 188 (P188). He has shown that P188 treatment can protect injured neurons from apoptosis and necrosis and prevent the structural alterations characteristic of axonal injury.

%h5 Role of mechanics and transport in vascular physiology
%p Dr. Barbee has been a leader in the micromechanical characterization of the forces acting on vascular endothelial cells due to blood flow. The responses of the endothelium to changes in blood flow regulate normal vascular function responsible for the proper distribution of blood throughout the vascular system and play a crucial role in various vascular disease processes including atherosclerosis and hypertension. Dr. Barbee is currently studying the role of mechanics and transport at the cell level in the production of nitric oxide (NO), a major regulator of vascular function.

%h5 Mechanics of cell adhesion and migration
%p Another major research area of the Barbee lab group is the mechanics of the cell adhesion process and its relationship to functional phenotype. One technique we have utilized is a thickness shear mode (TSM) sensor. Recently we have used this technique to examine the adhesion kinetic changes that occur due to phenotypic transformations of breast epithelial cells. The mechanisms behind cell adhesion involve complex physical interactions, chemical binding events and biological signaling. With the sensor, we have been able to monitor the structural changes at the cell-surface interface in real time as the cell progresses from initial attachment, to firm adhesion, and spreading. Coupled with independent measures of cell adhesion strength and cell mechanical properties, we are developing theoretical models to predict cell behavior in terms of the physical and biological properties characteristic of different phenotypes.