---
title: Recent Publications
---
%h1= current_page.data.title
%h5 Neuronal Injury
%ul
  %li Kilinc, D., Gallo, G., Barbee, K. (2008) Mechanically-induced membrane poration causes axonal beading and localized cytoskeletal damage. Experimental Neurology (epub ahead of print) doi:10.1016/j.expneurol.2008.04.025
  %li Kilinc, D., Gallo, G., Barbee, K. (2007) Poloxamer 188 Reduces Axonal Beading Following Mechanical Trauma to Cultured Neurons. Conf Proc IEEE Eng Med Biol Soc. 2007: 5395-8.
  %li Barbee, K. A. (2005). Mechanical cell injury. Cell Injury: Mechanisms, Responses, and Repair. 1066: 67-84.
  %li Serbest, G., J. Horwitz, et al. (2005). "The effect of Poloxamer-188 on neuronal cell recovery from mechanical injury." Journal of Neurotrauma 22(1): 119-132.
  %li Serbest, G., Horwitz, J., Jost, M., and Barbee, K.A. (2005) Mechanisms of Cell Death and Neuroprotection by Poloxamer 188 after Mechanical Trauma. FASEB J. 10.1096/fj.05-4024fje.
%h5 Cell Adhesion and Biosensors
%ul
  %li Ergezen, E., S. Hong, et al. (2007). "Real time monitoring of the effects of Heparan Sulfate Proteoglycan (HSPG) and surface charge on the cell adhesion process using thickness shear mode (TSM) sensor." Biosensors & Bioelectronics 22(9-10): 2256-2260.
  %li Hong, S., E. Ergezen, et al. (2006). "Real-time analysis of cell-surface adhesive interactions using thickness shear mode resonator." Biomaterials 27(34): 5813-5820.
  %li Dimilla, P. A., K. Barbee, et al. (1991). "Mathematical-Model for the Effects of Adhesion and Mechanics on Cell-Migration Speed." Biophysical Journal 60(1): 15-37.
  %li Moxon, K. A., S. C. Leiser, et al. (2004). "Ceramic-based multisite electrode arrays for chronic single-neuron recording." IEEE Transactions on Biomedical Engineering 51(4): 647-656.
%h5 Vascular Cell Mechanics
%ul
  %li Hong, D., Jaron, D., Buerk, D.G., and Barbee, K.A. (2008) Transport-dependent calcium signaling in spatially segregated cellular caveolar domains, Am J Physiol Heart Cell Physiol 294(3):C856-66
  %li Hong, D., D. Jaron, et al. (2006). "Heterogeneous response of microvascular endothelial cells to shear stress." American Journal of Physiology-Heart and Circulatory Physiology 290(6):H2498-H2508.
  %li Barbee, K. A. (2002). "Role of subcellular shear-stress distributions in endothelial cell mechanotransduction." Annals of Biomedical Engineering 30(4): 472-482.
  %li Blackman, B. R., K. A. Barbee, et al. (2000). "In vitro cell shearing device to investigate the dynamic response of cells in a controlled hydrodynamic environment." Annals of Biomedical Engineering 28(4): 363-372.
  %li Blackman, B. R., L. E. Thibault, et al. (2000). "Selective modulation of endothelial cell [Ca2+]i response to flow by the onset rate of shear stress." Journal of Biomechanical Engineering-Transactions of the ASME 122(3): 274-282.
  %li Barbee, K. A. (1995). "Changes in surface topography in endothelial monolayers with time at confluence: Influence on subcellular shear stress distribution due to flow." Biochemistry and Cell Biology-Biochimie Et Biologie Cellulaire 73(7-8): 501-505.
  %li Davies, P. F., T. Mundel, et al. (1995). "Mechanism for heterogeneous endothelial responses to flow in vivo and in vitro." Journal of Biomechanics 28(12): 1553-1560.
  %li Barbee, K. A., T. Mundel, et al. (1995). "Subcellular-Distribution of Shear-Stress at the Surface of Flow-Aligned and Nonaligned Endothelial Monolayers." American Journal of Physiology-Heart and Circulatory Physiology 37(4): H1765-H1772.
  %li Barbee, K. A., P. F. Davies, et al. (1994). "Shear Stress-Induced Reorganization of the Surface-Topography of Living Endothelial-Cells Imaged by Atomic-Force Microscopy." Circulation Research 74(1): 163-171.