---
title: Contact Us
---

%h1= current_page.data.title
.clearfix
  = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/barbee-ken.ashx", alt: "Kenneth Barbee, PhD - Portrait", class: "left", width: "150"
  %h5 Kenneth A. Barbee, PhD
  %p
    Prinicpal Investigator
    %br
    Professor, Senior Associate Dean, and Associate Dean for Research
    %br
    School of Biomedical Engineering, Science and Health Systems
  %p
    <strong>Office:</strong> Bossone 714 <br>
    <strong>Phone:</strong> 215.895.1335 <br>
    <strong>Email:</strong>
    = mail_to "barbee@drexel.edu"