---
title: Home
---

%ul.bxslider
  %li= image_tag "slide-people.png", title: "<a class='more-link' href='people/overview'>Meet the Lab Members</a>"
  %li= image_tag "slide-research.png", title: "<a class='more-link' href='research/overview'>Research Overview</a>"
  %li= image_tag "slide-publications.png", title: "<a class='more-link' href='publications/recent'>Recent Publications</a>"

%h2 Research Overview
%p We study the role of Mechanics and Transport processes in cellular physiology using a combination of mathematical modeling and experimental techniques such as fluorescence microscopy, atomic force microscopy, microelectrode measurements of nitric oxide, and a variety of custom-designed devices for mechanically stimulating cells.

%h5 Research Areas
%ul
  %li Cellular mechanics of Neural Trauma and Repair
  %li Multiscale Mechanics and Transport in Endothelial Flow Responses
  %li Mechanics of Cell Adhesion and Migration in Cancer Metastisis
